@import url('https://fonts.googleapis.com/css?family=Chivo&display=swap');

body {
	font-family: 'chivo', sans-serif;
	line-height: 25pt;
}

h1 {
	color: orange;
}

p {
	max-width:50em;
	line-height: 20pt;
}

li {
	line-height: 20pt;
}
